body.body{
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.897), rgb(47, 47, 47));
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    height: 100%;
    opacity: 80%;
}

