.show{
    display: block;
}
.hidden{
    display: none;
}
.card-container article{
    width: 30%;
    border: solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    margin-top: 20px;
    border-radius: 20px;
}

.imagen{
    width: 350px;
    height: 350px;
    padding-left: 37px;
}
.articlebackground{
    background-color:gray;
}
.desc{
    padding-left: 15px;
}
.ver{
    padding-left: 20px;
}
.description{
    padding-left: 20px;
}