.show{
    display: block;
}
.hidden{
    display: none;
}
.card-column{
    width: 30%;
    border: solid black;
    margin-top: 20px;
    border-radius: 20px;
    background-color:rgb(197, 126, 126);
}
.card-row{
    width: 90%;
    border: solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    margin-top: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: row;
}

.img-container{
    width: 100%;
}
.imagen{
    width: 100%;
    height: 100%;
}
.articlebackground{
    background-color:rgb(197, 126, 126);
}
.div-title{
    height: 60px;
    padding: 16px;
    display: flex;
    align-items: center;

}
.desc{
    font-size: 20px;
}

.description{
    padding-left: 20px;
}
.card-row main{
    display:flex;
    flex-direction: row;
}
.infocard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}

.icono-cancelar{
    font-size: 20px;
}

.navigation{
    display: flex;
    padding: 24px;
}

.main-container{
    display: flex;
    width: fit-content;
    flex-direction: column;
    width: 100%;
}

.div-main-button-ver{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.div-button-ver{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: rgb(151, 151, 151) 1px solid;
    border-radius: 8px;
    background-color: white;
}
