.show{
    display: block;
}
.hidden{
    display: none;
}
.card-container article{
    width: 30%;
    border: solid black;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0px;
    margin-top: 20px;
    border-radius: 20px;
}

.imagen{
    width: 400px;
    height: 400px;
    padding-left: 15px;
}
.articlebackground{
    background-color: blanchedalmond;
}